:root {
  --color-background: #F0F0F7;
--color-primary-lighter: #04D361;
--color-primary-light: #00CD00;
--color-primary: #1683FB;
--color-primary-dark: #3599fd;
--color-primary-darker: #13A5D7;
--color-secundary: #FF6600;
--color-secundary-dark: #FF802F;
--color-title-in-primary: #EEEEEE;
--color-text-in-primary: #FAFAFC;
--color-text-title: #F2F2F2;
--color-text-complement: #D0CCF0;
--color-text-base: #D4D4D4;
--color-line-in-white: #E6E6F0;
--color-input-background: #F8F8FC;
--color-button-text: #EEEEEE;
--color-box-base: #FFFFFF;
--color-box-footer: #0F101C;

  font-size: 60%;
}